img.icon {
    max-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    padding: 2px;
}

span {
    margin-bottom: 5px;
}

a.nav-link {
    font-weight: 600;
    color: black;
}

html {
    height: 100%;
    overflow-x: hidden;
}
body {
    min-height: 100%;
}

a.hyperlink {
    color: #800000 !important;
}

a.hyperlink:hover {
    color: #b30000 !important;
}

a.nav-link.active {
    color: #800000 !important;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

a.btn-outline-dark {
    border-color: #800000 !important;
    color: #800000 !important;
}

a.btn-outline-dark:hover {
    background-color: #b30000 !important;
    border-color: #b30000 !important;
    color: white !important;
}
